Options -Indexes
RewriteEngine On

# Force le passage par public/ si on arrive à la racine
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
